<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>a0001.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>469</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-45.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0002.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>435</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-45.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0003.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>384</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0004.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>315</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-28</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0005.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-19</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0006.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>123</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0007.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0008.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>904</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0009.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>796</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0010.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>695</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0011.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>594</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0012.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>487</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0013.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>374</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0014.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0015.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>153</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0016.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>68</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-20</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0017.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-29</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0018.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>953</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0019.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>919</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-45.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0020.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>885</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-45.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0021.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>784</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0022.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>675</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0023.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>558</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0024.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>448</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0025.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>345</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0026.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>250</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0027.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>172</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-23.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0028.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-32.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0029.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>69</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-41</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0030.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-45.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>a0031.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-45.5</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
	</dict>
</dict>
</plist>