<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,52},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,104},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,260},{52,20}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,32},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,0},{52,26}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,26},{52,26}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,312},{52,34}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,260},{52,40}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,312},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,260},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,468},{52,44}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{52,44}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,104},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,104},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,416},{52,44}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{52,44}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,260},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,312},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,260},{52,40}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,312},{52,34}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,0},{52,26}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,26},{52,26}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,260},{52,20}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,32},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,104},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,52},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,0},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,208},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,208},{52,50}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,364},{52,44}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{52,44}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,312},{52,38}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{52,38}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,260},{52,34}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,468},{52,28}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,24},{52,28}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,104},{52,22}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,30},{52,22}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,0},{52,16}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,36},{52,16}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,208},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>a0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,156},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,0},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,52},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,208},{52,20}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,32},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,52},{52,26}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,26},{52,26}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,208},{52,34}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,208},{52,40}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,156},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,104},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,364},{52,44}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{52,44}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,52},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,208},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,468},{52,44}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{52,44}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,0},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,52},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,156},{52,40}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,260},{52,34}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,416},{52,26}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,26},{52,26}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,156},{52,20}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,32},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,104},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,0},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,156},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,416},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,156},{52,50}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,468},{52,44}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{52,44}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,312},{52,38}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{52,38}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,208},{52,34}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,416},{52,28}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,24},{52,28}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,52},{52,22}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,30},{52,22}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,0},{52,16}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,36},{52,16}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,0},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>b0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,156},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,52},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,496},{52,16}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,36},{52,16}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,156},{52,22}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,30},{52,22}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,364},{52,30}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,22},{52,30}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,156},{52,36}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{52,36}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,104},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,104},{52,50}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,364},{52,48}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{52,48}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,364},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,312},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,260},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,416},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,312},{52,48}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{52,48}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,52},{52,50}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,416},{52,36}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{52,36}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,416},{52,30}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,22},{52,30}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,104},{52,22}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,30},{52,22}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,496},{52,16}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,36},{52,16}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,52},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,468},{52,44}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{52,44}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,260},{52,48}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{52,48}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,416},{52,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,52},{52,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{52,42}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,364},{52,36}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{52,36}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,364},{52,30}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,22},{52,30}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,104},{52,24}}</string>
			<key>offset</key>
			<string>{0,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,28},{52,24}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,312},{52,18}}</string>
			<key>offset</key>
			<string>{0,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,34},{52,18}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,0},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>c0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,52},{52,14}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>carrot.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,468},{25,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,40}}</string>
			<key>sourceSize</key>
			<string>{25,40}</string>
		</dict>
		<key>pause_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,468},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>sprites.pvr.cz</string>
	</dict>
</dict>
</plist>
